.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    margin: 1rem;
    padding: 1rem;
}

.logo {
    width:  8rem;
}

.nav-items {
    display: flex;
    align-items: center;
    ul {
        display: flex;
        list-style-type: none;
        li {
            padding: 1rem;
            margin: 1rem;
        }
    }
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    background-color: #dedede;
    width: 20vw;
    margin: 1rem;
    padding: .5rem;
}

.res-card:hover {
    border: 1px solid #000;
    cursor: pointer;
}

.search {
    margin: 1rem;
}

.res-img {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #000;
}

